@import "flexbox", "variables";

/* border-box fix */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: {
    family: $base-font-family;
    size: 15px;
    weight: 500;
  }
  color: $text-color;
  background-color: $background-color;
}

/* Images */
img {
  max-width: 100%;
  display: block;
}

/* Figures */
figcaption {
  font-size: $small-font-size;
}

/* Headings */
h1, h2, h3 {
  font-weight: 300;
}

h1:not(:first-child) {
  margin: 1.33em 0px 0.67em;
}

/* Links */
a {
  color: $freifunk-magenta;
  text-decoration: none;
  transition: color .4s;

  &:visited {
    color: darken($freifunk-magenta, 15%);
  }

  &:hover {
    color: $freifunk-yellow;
    text-decoration: none;
  }
}

/* External Links */
a.http,
a.https {
  color: $freifunk-blue;
  text-decoration: none;
  transition: color .4s;

  &:visited {
    color: darken($freifunk-blue, 15%);
  }

  &:hover {
    color: $freifunk-yellow;
    text-decoration: none;
  }
}

/* Non-existent Links */
a.nonexistent {
  color: $grey-color-light;
  text-decoration: none;
  transition: color .4s;

  &:visited {
    color: $grey-color;
  }

  &:hover {
    color: $freifunk-yellow;
    text-decoration: none;
  }
}

/* Tables */
td, th {
  padding: 8px 12px !important
  vertical-align: top;
}

/* Form elements */
input {
	box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.15);
	border: none;
	padding: 6px 16px;
}

/* "Seamless" iframes */
iframe {
  border: none;
}

/* Misc */
.map-page-iframe {
  margin-top: 32px;

  height: 600px;
  width: 100%;
}

.flex-grow {
  @include flex(1);
}
