@import "flexbox", "variables";

/* border-box fix */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: {
    family: $base-font-family;
    size: $base-font-size;
    weight: $base-font-weight;
  }
  color: $text-color;
  background-color: $background-color;
}

/* Images */
img {
  max-width: 100%;
}

/* Figures */
figcaption {
  font-size: $small-font-size;
}

/* Inputs */
input {
  color: black;
}

/* Headings */
h1, h2, h3, h4 {
  font-weight: 300;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 21px;
}

h4 {
	font-size: 19px;
}

/* Links */
a {
  color: $freifunk-magenta;
  text-decoration: none;
  transition: color .4s;

  &:visited {
    color: darken($freifunk-magenta, 15%);
  }

  &:hover {
    color: $freifunk-yellow;
    text-decoration: none;
  }
}

/* External Links */
a.http,
a.https {
  color: $freifunk-blue;
  text-decoration: none;
  transition: color .4s;

  &:visited {
    color: darken($freifunk-blue, 15%);
  }

  &:hover {
    color: $freifunk-yellow;
    text-decoration: none;
  }
}

/* Non-existent Links */
a.nonexistent {
  color: $grey-color-light;
  text-decoration: none;
  transition: color .4s;

  &:visited {
    color: $grey-color;
  }

  &:hover {
    color: $freifunk-yellow;
    text-decoration: none;
  }
}

/* "Seamless" iframes */
iframe {
  border: none;
}

/* Monospace fonts */
pre,
tt {
  font: {
    family: $mono-font-family;
    size: $mono-font-size;
  }
}

/* Misc */
.map-page-iframe {
  margin-top: 32px;

  height: 600px;
  width: 100%;
}

.flex-grow {
  @include flex(1);
}
