.page-content {
  /* Fix margin for first header */
  & h1:first-child {
    margin-top: 0;
  }

  /* Last modification timestamp */
  & #pageinfo {
    text-align: right;
    color: $grey-color-light;
  }
  & ol li p,
  & ul li p {
    padding: 0;
    margin: 0;
  }
  /* Buttons */
  & button {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 0 none;
  
    margin-top: 16px;
    padding: 16px 24px;
  
    font: {
      weight: 300;
      size: 20px;
    }
  
    color: #fff;
    transition: background-color .4s;
  
    &.magenta:hover,
    &.blue:hover,
    &:hover {
      background-color: $freifunk-yellow;
    }
  }
  & button.magenta {
    background-color: $freifunk-magenta;
  }
  & button.blue {
    background-color: $freifunk-blue;
  }
  & button.yellow {
    background-color: $freifunk-yellow;
    &:hover {
      background-color: $freifunk-blue;
    }
  }
  /* Strike through text */
  & span.strike {
    text-decoration: line-through;
  }

  & .table-of-contents {
	padding: 8px 26px;
    box-shadow: $outer-shadow;

    & p.table-of-contents-heading {
      display:none; 
    }

    & ol {
      padding-left: 18px;
      line-height: 1.45;  
    }
  }

  /* Block quotes */
  & blockquote {
    &:before {
      content: "» ";
      float: left;
      text-align: right;
      width: 13px;
    }

	/* The quote itself */
    & p:first-child:after {
      content: " «";
	}

    &:before,
    & p:first-child:after,
    & p:last-child:before {
      color: $grey-color-light;
    }

	/* Author of the quote */
    & p:last-child:before {
      content: "— ";
	}

    & p:last-child{
      text-align: right;

      /* You don't quote yourself; therefore
         everything looks like a link off-site */
      & a {
        color: $freifunk-blue;
      }
      & a:hover {
        color: $freifunk-yellow;
      }
	}
  }
}
