/* Open Sans */
@font-face {
  font: {
    family: "OpenSans";
    weight: 300;
    stretch: condensed;
  }

  src: url("#{$font-dir}/OpenSans-CondLight.woff");
}

@font-face {
  font: {
    family: "OpenSans";
    weight: 300;
    stretch: condensed;
    style: italic;
  }

  src: url("#{$font-dir}/OpenSans-CondLightItalic.woff");
}

@font-face {
  font: {
    family: "OpenSans";
    weight: 400;
    style: italic;
  }

  src: url("#{$font-dir}/OpenSans-Italic.woff");
}

@font-face {
  font: {
    family: "OpenSans";
    weight: 300;
  }

  src: url("#{$font-dir}/OpenSans-Light.woff");
}

@font-face {
  font: {
    family: "OpenSans";
    weight: 300;
    style: italic;
  }

  src: url("#{$font-dir}/OpenSans-LightItalic.woff");
}

@font-face {
  font: {
    family: "OpenSans";
    weight: 400;
  }

  src: url("#{$font-dir}/OpenSans-Regular.woff");
}

@font-face {
  font: {
    family: "OpenSans";
    weight: 600;
  }

  src: url("#{$font-dir}/OpenSans-Semibold.woff");
}

/* Oxygen Mono */

@font-face {
    font-family: "OxygenMono";
    src: url("#{$font-dir}/oxygenmono-regular-webfont.eot");
    src: url("#{$font-dir}/oxygenmono-regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("#{$font-dir}/oxygenmono-regular-webfont.woff2") format("woff2"),
         url("#{$font-dir}/oxygenmono-regular-webfont.woff") format("woff"),
         url("#{$font-dir}/oxygenmono-regular-webfont.ttf") format("truetype"),
         url("#{$font-dir}/oxygenmono-regular-webfont.svg#oxygen_monoregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

