/* Input elements */
input,
textarea {
  box-shadow: $inner-shadow-deep;
  border: none;
  padding: 6px 16px;
}

select {
  width: 240px;
  height: 34px;
  overflow: hidden;
  background: none;
  border: none;
  box-shadow: $inner-shadow-deep;
}

button,
input[type=submit],
input[type=button] {
  box-shadow: none;

  font: {
    weight: 300;
    size: 16px;
  }

  color: #fff;
  background-color: $freifunk-blue;
  transition: background-color .4s;

  &:hover {
    background-color: $freifunk-yellow;
  }
}

