/* Tables */
td,
th {
  padding: 8px 12px;
  vertical-align: top;
}

table {
  box-shadow: $outer-shadow;
}

table.image,
table.imagefloat,
table.noshadow {
  box-shadow: none;
}

/* Fixing paragraph padding */
td p,
th p {
  padding: 0 !important;
  margin: 0 !important;
}

/* Fixing wrong image aspect ratio bug in Chromium/Chrome */
td img {
  max-width: none; 
}

/* Alternating rows */
table tr:nth-child(even) {
  background: $grey-color-lightest;
}

table.image tr:nth-child(even),
table.imagefloat tr:nth-child(even),
table.white tr:nth-child(even),
table.alt-odd tr:nth-child(even) {
  background: none;
}

table.alt-odd tr:nth-child(odd) {
  background: $grey-color-lightest;
}

table.image,
table.imagefloat {
  font-size: $small-font-size;
  text-align: right;
  color: $grey-color;
}

table.image tr:nth-child(even) td,
table.imagefloat tr:nth-child(even) td {
  padding: 0px 12px 18px;
}

table.image tr:nth-child(odd) td,
table.imagefloat tr:nth-child(odd) td {
  vertical-align: bottom;
}

table.imagefloat {
  float: right;
}

table.imagefloat {
  width: $image-float-witdh;
}

table.imagefloat img {
  width: $image-float-witdh !important;
}

table.imagefloat td {
  padding-right: 0;
}

table tr.header {
  background-color: #dc0067;
  color: #FFFFFF;
  font-style: italic; 
}

table tr.footer {
  background-color: #009ee0;
  color: #FFFFFF;
}

