/* Tables */
td,
th {
  padding: 8px 12px !important;
  vertical-align: top;
}

table {
  box-shadow: $outer-shadow;
}

table.image,
table.noshadow {
  box-shadow: none;
}

/* Fixing paragraph padding */
td p,
th p {
  padding: 0 !important;
  margin: 0 !important;
}

/* Fixing wrong image aspect ratio bug in Chromium/Chrome */
td img {
  max-width: none; 
}

/* Alternating rows */
table tr:nth-child(even) {
  background: $grey-color-lightest;
}

table.white tr:nth-child(even),
table.alt-odd tr:nth-child(even) {
  background: none;
}

table.alt-odd tr:nth-child(odd) {
  background: $grey-color-lightest;
}

table.image {
  font-size: $small-font-size;
  text-align: right;
}
