$base-font-family: "OpenSans";
$base-font-size:   15px;
$base-font-weight: 500;
$mono-font-family: "OxygenMono";
$mono-font-size:   13px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$font-dir:         "/wikistatic/ffks/fonts";

$text-color:       #111;
$background-color: #fdfdfd;

$freifunk-yellow:  #ffb400;
$freifunk-magenta: #dc0067;
$freifunk-blue:    #009ee0;

$black-color:         #000;
$white-color:         #fff;
$grey-color:          #828282;
$grey-color-light:    lighten($grey-color, 20%);
$grey-color-lighter:  lighten($grey-color, 40%);
$grey-color-lightest: lighten($grey-color, 44%);
$grey-color-dark:     darken($grey-color, 25%);

// Shadows
$inner-shadow-deep: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.15);
$inner-shadow-high: inset -1px -1px 5px 0px rgba(0, 0, 0, 0.15);
$outer-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.15);

// Width of the content area
$content-width:    960px;

// Responsive stuff - TODO
$break-tiny:   0px;
$break-small:  0px;
$break-medium: 980px;
